!!!
%html
  %head
    %title Tik Kok!!!
    = stylesheet_link_tag :all, :concat => false
    = stylesheet_link_tag "http://code.jquery.com/mobile/1.0a3/jquery.mobile-1.0a3.min.css"
    = javascript_include_tag "https://ajax.googleapis.com/ajax/libs/jquery/1.5.0/jquery.min.js"
    = javascript_include_tag "http://code.jquery.com/mobile/1.0a3/jquery.mobile-1.0a3.min.js"
    = csrf_meta_tag
  %body
    %div{:id => "title", "data-role" => "page"}
      = render :partial => 'layouts/header'
      = yield 
      = render :partial => 'layouts/footer'
    = render :partial => 'pages/about'
